Trabajo Practico LPPA/WebApp/Connected Services/ProductsWeb/ProductsWebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListProducts">
        <s:complexType />
      </s:element>
      <s:element name="ListProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListProductsResult" type="tns:ArrayOfProducto_BE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProducto_BE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Producto_BE" nillable="true" type="tns:Producto_BE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Producto_BE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Marca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Precio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Borrado" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListProductsSoapIn">
    <wsdl:part name="parameters" element="tns:ListProducts" />
  </wsdl:message>
  <wsdl:message name="ListProductsSoapOut">
    <wsdl:part name="parameters" element="tns:ListProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductsWebServicesSoap">
    <wsdl:operation name="ListProducts">
      <wsdl:input message="tns:ListProductsSoapIn" />
      <wsdl:output message="tns:ListProductsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductsWebServicesSoap" type="tns:ProductsWebServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListProducts">
      <soap:operation soapAction="http://tempuri.org/ListProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductsWebServicesSoap12" type="tns:ProductsWebServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListProducts">
      <soap12:operation soapAction="http://tempuri.org/ListProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductsWebServices">
    <wsdl:port name="ProductsWebServicesSoap" binding="tns:ProductsWebServicesSoap">
      <soap:address location="https://localhost:44351/ProductsWebServices.asmx" />
    </wsdl:port>
    <wsdl:port name="ProductsWebServicesSoap12" binding="tns:ProductsWebServicesSoap12">
      <soap12:address location="https://localhost:44351/ProductsWebServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>